@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>
        GVB Expense Reimbursement
    </h1>
    <p class="lead">-A Reimbursement tool for all your expenses</p>
</div>

<div class="row">
    <div class="col-lg-2 content-centre1">
        Employee
    </div>
    <div class="col-lg-2 content-centre2">
        Administration
    </div>
</div>