@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>
        GVB Expense Reimbursement
    </h1>
    <p class="lead">A Reimbursement tool for all your expenses</p>
</div>

<div class="row">
    <div id="empDiv" class="col-lg-2 content-centre">
       <input id="EmpLogin" type="button" class="btn-link" value="Employee"/>
    </div>
    <div id="adminDiv" class="col-lg-2 content-centre">
        <input id="AdminLogin" type="button" class="btn-link" value="Administration" />
    </div>
</div>

<div id="loginDiv" class="container login-div">

</div>