
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>
        GVB Expense Reimbursement
    </h1>
    <p class="lead">A Reimbursement tool for all your expenses</p>
</div>

<div class="login-div" id="loginDiv">
    <div id="empDiv" class="content-centre">
       <input id="EmpLogin" type="button" class="btn-link" value="Employee"/>
        <div id="empLoginDiv" class="container">

        </div>
    </div>
    <div id="adminDiv" class="content-centre">
        <input id="AdminLogin" type="button" class="btn-link" value="Administration" />
        <div id="admLoginDiv" class="container">

        </div>
    </div>
</div>

