@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<table align="center">
    <tr>
        <td colspan=2>Users:</td>
    </tr>
    <tr>
        <td colspan=2>
            <p>
                If you are a GVB India Pvt. Ltd. user seeking support, please log into your Expense Tool account,<br>
                click on Contact Support. This provides you with the UserSupport Desk phone number and allows you <br>
                to create a case online or use the chat feature with a support representative.<br>
            </p>
        </td>
    </tr>
    <tr>
        <td colspan=2>Please note:</td>
    </tr>
    <tr>
        <td colspan=2>
            <p>
                If you do not have the option to contact Support under the help menu, then your <br>
                company has chosen to support the Expense Tool internally. Please contact your <br>
                internal support desk for assistance.<br>
            </p>
        </td>
    </tr>
    <tr>
        <td colspan=2>Administrators:</td>
    </tr>
    <tr>
        <td colspan=2>
            <p>
                If you are an Authorized Support Contact for your company or an Administrator <br>
                who makes changes to your Expense Tool , please call 1-973-723-2247 and select <br>
                the Technical Support option from the menu.<br>
            </p>
        </td>
    </tr>
</table>
