@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    <table align="center">
        <tr>
            <td colspan=2>
                <p>
                    GVB India Pvt. Ltd.<br>
                </p>
            </td>
        </tr>
        <tr>
            <td colspan=2>Mail Address:</td>
        </tr>
        <tr>
            <td colspan=2>
                <p>
                    820 East Dove Loop Road,<br>
                    Apt # 1925,<br>
                    Grapevine, Texas<br>
                </p>
            </td>
        </tr>
        <tr>
            <td colspan=2>Contact:</td>
        </tr>
        <tr>
            <td colspan=2>
                <p>
                    Mob: +1(973) 723-2247<br>
                    Fax: +1(973) 723-2247<br>
                </p>
            </td>
        </tr>
    </table>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@gvb.com">Support@example.com</a><br />
</address>