@model string
@if (Session["UserID"] != null)
{
    var userId = Session["UserID"];
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Model<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="javascript:EmployeeDetails(@userId);">View Profile</a></li>
                    <li>@Html.ActionLink("Reset Password", "ResetPassword", "Account", null, new { id = "resetPword" })</li>
                </ul>
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
